:root {
  --color-primary: #757575;
  --color-secondary: #bdbdbd;
  --color-background: #ffffff;
  --color-text: #4d4d4d;
  --color-subtext: #a0a0a0;
  --color-accent: #ff6b5a;
  --color-accent-complement: #56a280;
}

::selection {
  background-color: var(--color-accent);
  color: var(--color-background);
  text-shadow: none;
}

html {
  font: 100%/1.5 -apple-system, BlinkMacSystemFont, Roboto, Helvetica,
    "Noto Sans JP", "Yu Gothic", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

body {
  background: var(--color-background);
  color: var(--color-text);
  margin: 0;
  transition: background-color 1s, color 1s;
}

body.nav-active {
  overflow: hidden;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p {
  font-feature-settings: "palt";
  letter-spacing: 0.1em;
  line-height: 1.8;
  margin: 1em 0;
}

small {
  font-size: 85%;
}

a {
  color: inherit;
  text-decoration: inherit;
}

img {
  max-width: 100%;
  vertical-align: top;
}

.page-title {
  margin: 0 0 40vh;
}

.page-title > b {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 150%;
  font-weight: normal;
}

.page-title > small {
  font-weight: normal;
  margin: 0 0 0 0.5em;
}

.hidden {
  display: none;
}

.block {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
  padding: 10vh 40px;
}

.block > .box {
  max-width: 100%;
  min-width: 60%;
  width: 800px;
}

.box {
  position: relative;
}

.box.fill,
.box.fix {
  display: flex;
  gap: 40px;
}

.box.center {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box.fill > .cell {
  flex: auto;
}

.box.fix > .cell {
  flex: 0 1 100%;
}

@media (max-width: 768px) {
  .block {
    padding: 80px 1.5em;
  }

  .box.fill,
  .box.fix {
    flex-direction: column;
    gap: 20px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeUpIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes plane {
  0% {
    transform: translateX(-20vw);
  }
  100% {
    transform: translateX(20vw);
  }
}
