article h2 {
  color: var(--color-accent);
  font-size: 150%;
  margin: 1em 0;
  text-align: center;
}

article h3 {
  font-size: 120%;
  margin: 1em 0;
  text-align: center;
}

article img {
  display: block;
  height: auto;
  margin: 1em auto;
  width: auto;
}

article a {
  color: var(--color-accent);
  text-decoration: underline;
}

hr {
  border: 0;
  margin: 10vh 0;
}

figure {
  margin: 1em 0;
  text-align: center;
}

iframe {
  height: 40vh;
  margin: 1em 0;
  width: 100%;
}

table {
  border: var(--color-accent-complement) solid 1px;
  border-collapse: collapse;
  margin: 2em auto;
  max-width: 400px;
  width: 100%;
}

table + table {
  margin: -2em auto 2em;
}

th {
  background: var(--color-accent-complement);
  color: var(--color-background);
  font-weight: bolder;
  letter-spacing: 0.1em;
  padding: 0.5em 1em;
  text-align: left;
}

td {
  line-height: 2em;
  padding: 0 1em;
  text-align: right;
}

tr:first-of-type td {
  padding-top: 1em;
}

tr:last-of-type td {
  padding-bottom: 1.5em;
}

blockquote {
  border-radius: 2px;
  box-shadow: 0 2px 3px 1px var(--color-subtext);
  margin: 2em 0;
  padding: 0.5em 1em;
}

blockquote cite {
  color: var(--color-accent-complement);
  display: block;
  font-size: 85%;
  font-style: normal;
  margin: 0.5em 0 0;
  text-align: right;
}
