---
import Layout from "@/layouts/Layout.astro";
import Heading from "@/components/Heading.astro";

const meta = {
  title: "アクセス",
  description:
    "仁戸名聖書バプテスト教会へのアクセス情報を掲載しています。所在地、最寄り駅、駐車場情報、地図をご覧いただけます。どなたでも安心してお越しいただけるよう、詳細をご案内しています。",
};
---

<Layout {...meta}>
  <section class="block" data-scroll="theme-light">
    <Heading en="Access" ja="アクセス" />

    <figure class="figure">
      <iframe
        class="iframe"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3244.716077978963!2d140.15532577603886!3d35.585399035232!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60229af5ddea67e9%3A0x1a3e20fa4268ecd5!2z5LuB5oi45ZCN6IGW5pu444OQ44OX44OG44K544OI5pWZ5Lya!5e0!3m2!1sja!2sjp!4v1695564329751!5m2!1sja!2sjp"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </figure>

    <div class="address-box">
      <b class="address-head">仁戸名聖書バプテスト教会</b>

      <address class="address">
        <small>〒260-0801</small>
        <br />
        千葉市中央区仁戸名町656-15
        <br />
        043-263-3883
      </address>

      <dl class="dl">
        <dt class="dt">鉄道</dt>
        <dd class="dd">京成電鉄<b>大森台駅</b>より徒歩15分</dd>
        <dt class="dt">バス</dt>
        <dd class="dd">千葉中央バス<b>仁戸名局</b>より徒歩5分</dd>
        <dt class="dt">お車</dt>
        <dd class="dd">駐車場をご利用いただけます</dd>
      </dl>
    </div>

    <p>
      当教会は住宅街の奥まった一角に位置しております。ご希望に応じて、無料送迎を承る場合がございますので、お気軽にご相談ください。
    </p>
  </section>
</Layout>

<style>
  .block {
    margin: auto;
    max-width: 600px;
  }

  .figure {
    background: #00000010;
    height: 75vh;
    margin: 0 -5vw;
  }

  .iframe {
    border: 0;
    height: 100%;
    outline: 0;
    width: 100%;
  }

  .address-box {
    border-top: var(--color-primary) solid 3px;
    box-shadow: var(--color-primary) 0 2px 4px;
    margin: 10vh 0 0;
    padding: 1em;
  }

  .address-head {
    border-bottom: var(--color-primary) solid 1px;
    display: block;
    padding: 0 0 0.5em;
    text-align: center;
  }

  .address {
    font-style: normal;
    margin: 1.5em 0.5em;
  }

  .dl {
    margin: 1.5em 0.5em;
  }

  .dt {
    font-weight: bolder;
  }

  .dd {
    margin: 0 0 0.5em 1.5em;
  }
</style>
