---
import { Icon } from "astro-icon/components";
import Heading from "@/components/Heading.astro";
import Layout from "@/layouts/Layout.astro";

const meta = {
  title: "よくある質問",
  description:
    "仁戸名聖書バプテスト教会へのよくある質問にお答えします。礼拝の時間や参加方法、教会の活動についてなど、初めての方やご家族連れの方も安心してご利用いただけます。",
};
---

<Layout {...meta}>
  <section class="block" data-scroll="theme-light">
    <Heading en="FAQ" ja="よくある質問" />

    <dl class="dl">
      <dt class="dt">
        <Icon name="mdi:question-box-multiple-outline" />
        <span>必要な持ち物はありますか？</span>
      </dt>
      <dd class="dd">
        お持ちであれば、聖書をご持参ください。お持ちでない場合は、教会にて無料で貸し出しております。当教会では新改訳聖書を使用しております。
      </dd>

      <dt class="dt">
        <Icon name="mdi:question-box-multiple-outline" />
        <span>どんな服装が良いですか？</span>
      </dt>
      <dd class="dd">
        特別なドレスコードはありませんので、普段着でお気軽にお越しください。
      </dd>

      <dt class="dt">
        <Icon name="mdi:question-box-multiple-outline" />
        <span>開始時間のどれくらい前に到着すれば良いですか？</span>
      </dt>
      <dd class="dd">
        礼拝堂は開始30分前から開放しております。開始10分前までにお越しいただけるとスムーズにご案内できます。
      </dd>

      <dt class="dt">
        <Icon name="mdi:question-box-multiple-outline" />
        <span>特別なしきたりやマナーはありますか？</span>
      </dt>
      <dd class="dd">
        お祈りの際には黙祷の姿勢をとり、最後に「アーメン」と唱和します。また、礼拝中には自由献金の時間がありますが、献金は任意であり、強制されることは一切ございません。
      </dd>

      <dt class="dt">
        <Icon name="mdi:question-box-multiple-outline" />
        <span>小さな子供も参加できますか？</span>
      </dt>
      <dd class="dd">
        礼拝にはお子様とご一緒に参加いただけます。もしお子様が泣いたり騒いでしまった場合でも、別室で礼拝をテレビ視聴できる環境をご用意しています。また、教会には小さなお子様も多く、対応に慣れたスタッフがおりますので、どうぞ安心してお越しください。
      </dd>

      <dt class="dt">
        <Icon name="mdi:question-box-multiple-outline" />
        <span>キリスト教以外の宗教を信仰していますが、参加できますか？</span>
      </dt>
      <dd class="dd">
        当教会は、すべての方を歓迎しております。どのような宗教の方でもご参加いただけます。当教会は、神様がすべての人を愛しておられると信じており、どなたでも福音を聞く機会を得られる場を提供しています。
      </dd>

      <dt class="dt">
        <Icon name="mdi:question-box-multiple-outline" />
        <span>お体の不自由な方のための手伝いはありますか？</span>
      </dt>
      <dd class="dd">
        移動が不便な方には無料の送迎サービスを提供しております。また、聴覚障害のある方には、礼拝内容をまとめたプリントをご用意しています。ただし、申し訳ありませんが、会場内には多目的トイレがございません。何かお困りの際は、お近くのご案内係までお気軽にお声がけください。
      </dd>
    </dl>
  </section>
</Layout>

<style>
  .block {
    margin: auto;
    max-width: 600px;
  }

  .dl {
    margin: auto;
  }

  .dt {
    display: flex;
    gap: 0.25em;
    margin: 0 0 1em;
  }

  [data-icon] {
    flex-shrink: 0;
    height: 1.5em;
    width: 1.5em;
  }

  .dd {
    background: #00000010;
    border-radius: 0.5em;
    letter-spacing: 0.05em;
    margin: 0 0 4em;
    padding: 1em;
    text-align: justify;
  }
</style>
