---
import Layout from "@/layouts/Layout.astro";
import Heading from "@/components/Heading.astro";
---

<Layout title="よくある質問 - 仁戸名聖書バプテスト教会">
  <section class="block" data-scroll="theme-light">
    <div class="box">
      <Heading en="FAQ" ja="よくある質問" />

      <dl class="dl">
        <dt class="dt">必要な持ち物はありますか？</dt>
        <dd class="dd">
          お持ちであれば聖書をご持参ください。礼拝中に聖書を使用することがありますが、お持ちでない場合は教会で聖書を無料で貸し出ししています。当教会では新改訳聖書を使用しています。
        </dd>

        <dt class="dt">どんな服装が良いですか？</dt>
        <dd class="dd">
          特別なドレスコードはありません。普段着でお越しください。
        </dd>

        <dt class="dt">開始時間のどれくらい前についていればよいですか？</dt>
        <dd class="dd">
          礼拝堂は開始30分前から開放されています。開始10分前までにお越しいただけましたら幸いです。
        </dd>

        <dt class="dt">特別なしきたりやマナーはありますか？</dt>
        <dd class="dd">
          お祈りの際には黙祷の姿勢をとり、最後に「アーメン」と唱和します。また、礼拝中に自由献金がありますが、任意によるものであり、献金が強制されることはありません。
        </dd>

        <dt class="dt">小さな子供も参加できますか？</dt>
        <dd class="dd">
          礼拝にはお子様と一緒にご参加いただけます。もしお子様が泣いたり騒いでしまった場合は、別室に移動してテレビ視聴ができます。教会には小さなお子様も多いため、対応に慣れた者もおりますのでご安心ください。
        </dd>

        <dt class="dt">
          キリスト教以外の宗教を信仰しています。教会に行ってもよいですか？
        </dt>
        <dd class="dd">
          当教会は、どのような宗教の方でも歓迎しています。当教会は、神様がすべての人を愛されていることを信じています。誰でも福音を聞く機会を得ることができます。
        </dd>

        <dt class="dt">お体の不自由な方のための手伝いはありますか？</dt>
        <dd class="dd">
          当教会では、移動が不便な方のために無料の送迎サービスを提供しています。また、聴覚障害を持っている方のためには、聖書のお話しのプリントが用意されています。ただし、多目的トイレはございませんのでご了承ください。
        </dd>
      </dl>
    </div>
  </section>
</Layout>

<style>
  .dl {
    margin: 0;
  }

  .dt {
    display: flex;
    font-size: 100%;
    gap: 0.5em;
    margin: 0 0 1em;
  }

  .dt::before {
    content: "💬";
  }

  .dd {
    background: #00000010;
    border-radius: 1em;
    line-height: 2;
    margin: 0 0 4em;
    padding: 1em;
  }
</style>
