---
import { type HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"button"> {
  variant?: "text" | "contained" | "outlined";
}

const { type = "button", variant = "text" } = Astro.props;
---

<button type={type} class:list={["button", variant]}>
  <slot />
</button>

<style>
  .button {
    appearance: none;
    -webkit-appearance: none;
    background: transparent;
    border: 0;
    box-sizing: border-box;
    color: inherit;
    cursor: pointer;
    font: inherit;
    height: 100%;
    line-height: 1;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: middle;
    width: 100%;
  }

  .button:disabled {
    cursor: not-allowed;
  }

  .contained {
    background: var(--color-accent);
    border-radius: 4px;
    color: var(--color-background);
    display: inline-block;
    letter-spacing: 0.1em;
    padding: 1.5em 0;
    text-align: center;
    transition: 0.15s;
  }

  .contained:hover {
    background: var(--color-secondary);
  }

  .contained:disabled {
    background: var(--color-secondary);
    color: var(--color-primary);
  }

  .outlined {
    border: var(--color-primary) solid 1px;
    border-radius: 4px;
    color: var(--color-primary);
    display: inline-block;
    letter-spacing: 0.1em;
    padding: 1.5em 0;
    text-align: center;
    transition: 0.15s;
  }

  .outlined:hover {
    background: var(--color-primary);
    color: var(--color-background);
  }

  .outlined:disabled {
    background: var(--color-secondary);
    border-color: var(--color-secondary);
    color: var(--color-primary);
  }
</style>
