---
import { Icon } from "astro-icon/components";
---

<footer class="footer" data-scroll="theme-dark">
  <div class="icons">
    <a
      href="https://www.instagram.com/nitonabbc/"
      target="_blank"
      rel="noopener noreferrer"
    >
      <Icon name="mdi:instagram" />
    </a>

    <a
      href="https://x.com/nitona_bbc"
      target="_blank"
      rel="noopener noreferrer"
    >
      <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path
          d="M18.2048 2.25H21.5128L14.2858 10.51L22.7878 21.75H16.1308L10.9168 14.933L4.95084 21.75H1.64084L9.37084 12.915L1.21484 2.25H8.04084L12.7538 8.481L18.2048 2.25ZM17.0438 19.77H18.8768L7.04484 4.126H5.07784L17.0438 19.77Z"
        >
        </path>
      </svg>
    </a>
  </div>

  <div>
    <small>&copy; Nitona Bible Baptist Church.</small>
  </div>
</footer>

<style>
  .footer {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 25vh 0 0;
    min-height: 100vh;
    padding: 2em;
    text-align: center;
  }

  .icons {
    display: flex;
    gap: 1em;
    line-height: 1;
    margin: auto;
  }

  .icon {
    fill: currentColor;
    height: 2em;
  }

  [data-icon] {
    font-size: 2em;
  }
</style>
