---
type Props = {
  en: string;
  ja: string;
};

const { en, ja } = Astro.props;
---

<h2 class="h2">
  <span class="en">{en}</span><br />
  <span>{ja}</span>
</h2>

<style>
  .h2 {
    color: var(--color-accent);
    font-size: 150%;
    font-weight: normal;
    line-height: 1.2;
    margin: 15vh 0;
    text-align: center;
  }

  .en {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 125%;
  }
</style>
