<header class="header">
  <h1 class="h1">
    <a href="https://nitonabbc.org">仁戸名聖書バプテスト教会</a>
  </h1>
</header>

<style>
  .header {
    left: 0;
    padding: 20px;
    position: absolute;
    right: 0;
    top: 0;
  }

  .h1 {
    font-family: "Zen Maru Gothic", serif;
    font-size: 120%;
    letter-spacing: 0.05em;
    margin: 0;
  }

  @media (max-width: 768px) {
    .h1 {
      font-size: 100%;
    }
  }
</style>
