<header>
  <h1 class="h1">
    <a class="a" href="/">
      <div class="en">Nitona Bible Baptist Church</div>
      <div>仁戸名聖書バプテスト教会</div>
    </a>
  </h1>
</header>

<style>
  .h1 {
    font-family: "Zen Maru Gothic", Helvetica, sans-serif;
    font-size: 100%;
    font-weight: normal;
    margin: 0;
    padding: 1em;
  }

  .a {
    display: inline-block;
    letter-spacing: 0.05em;
  }

  .en {
    font-size: 85%;
    line-height: 1;
  }
</style>
