---
import { type HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"input">;

const { ...attrs } = Astro.props;
---

<label class="label">
  <input class="input" type="radio" {...attrs} />
  <div class="item">
    <slot />
  </div>
</label>

<style>
  .label {
    cursor: pointer;
    display: block;
    margin: 0.5em 0;
  }

  .input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }

  .item {
    background: var(--color-secondary);
    border: var(--color-secondary) solid 1px;
    border-radius: 4px;
    color: var(--color-primary);
    padding: 1em 2em;
  }

  :checked + .item {
    background: var(--color-background);
    border-color: var(--color-primary);
    color: var(--color-text);
  }
</style>
