---
import { getCollection } from "astro:content";
import { Icon } from "astro-icon/components";
import Layout from "@/layouts/SpecialsLayout.astro";

export async function getStaticPaths() {
  const posts = await getCollection("specials");
  return posts.map((post: any) => ({
    params: { slug: post.slug },
    props: post,
  }));
}

const post = Astro.props;
const { Content } = await post.render();
---

<Layout {...post.data}>
  <article class="article">
    <Content />

    <div class="faq">
      <Icon name="mdi:comment-question-outline" />
      <a href="/faq">
        教会に関する一般的なご質問と回答は
        <br />
        こちらをご覧ください
      </a>
    </div>
  </article>
</Layout>

<style>
  .article {
    padding: 10vh 0;
  }

  .faq {
    align-items: center;
    color: var(--color-accent);
    display: flex;
    font-size: 90%;
    gap: 0.5em;
    justify-content: center;
    margin: 25vh 0;
  }

  [data-icon] {
    flex-shrink: 0;
    height: 2em;
    width: 2em;
  }
</style>
