---
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";
import { Icon } from "astro-icon/components";
import Layout from "@/layouts/SpecialsLayout.astro";

type Props = CollectionEntry<"specials">;

export async function getStaticPaths() {
  const posts = await getCollection("specials");
  return posts.map((post: CollectionEntry<"specials">) => ({
    params: { slug: post.slug },
    props: post,
  }));
}

const post = Astro.props;
const { Content } = await post.render();
---

<Layout {...post.data}>
  <article class="article">
    <Content />

    <div class="faq">
      <a class="faq-link" href="/faq">
        <Icon name="mdi:question-box-multiple-outline" />

        <span>
          教会に関する一般的なご質問と回答は
          <br />
          こちらをご覧ください
        </span>
      </a>
    </div>
  </article>
</Layout>

<style>
  .article {
    padding: 0 0 20vh;
  }

  .faq {
    display: flex;
    justify-content: center;
    margin: 25vh 0 0;
  }

  .faq-link {
    align-items: center;
    border: currentColor solid 1px;
    border-radius: 5em;
    color: var(--color-accent);
    display: flex;
    font-size: 85%;
    gap: 0.5em;
    padding: 1em 1.5em;
    text-decoration: none;
  }

  [data-icon] {
    flex-shrink: 0;
    height: 2em;
    width: 2em;
  }
</style>
