---
import "../styles/global.css";
import "../styles/themes.css";
import Header from "../components/Header.astro";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
  description?: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="{description}" />
    <meta property="og:title" content="{title}" />
    <meta property="og:type" content="website" />
    <meta
      property="og:image"
      content="https://nitonabbc.org/img/building.jpg"
    />
    <meta property="og:url" content="{{ .Permalink }}" />
    <meta property="og:description" content="{{ .Site.Params.description }}" />
    <meta property="og:site_name" content="{{ .Site.Title }}" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <title>{title}</title>
  </head>

  <body>
    <div class="viewport">
      <Header />
      <Nav />

      <main>
        <slot />
      </main>

      <Footer />
    </div>
  </body>
</html>

<style>
  .viewport {
    min-height: 100vh;
    min-width: 320px;
    position: relative;
  }

  .main {
    font-size: 2vw;
  }

  @media (max-width: 768px) {
    .main {
      font-size: 100%;
    }
  }
</style>
